---
---

$size-1: 4.25rem;
$size-2: 2.625rem;
$size-3: 1.625rem;
$size-4: 1.375rem;
$size-5: 1.125rem;
$size-6: 1rem;
$size-7: 0.75rem;

@import "bulma";

#home {
  &_header {
    > .container {
      > h1 {
        color: red;
      }
    }
  }
}
