---
---

$spacing-values: ("0": 0, "1": 5px, "2": 10px, "3": 20px, "4": 40px, "5": 80px, "6": 160px, "auto": auto);
$gap: 40px;
$column-gap: 20px;
$section-padding: 40px;
$hero-body-padding: $section-padding;
$footer-padding: $section-padding;
$block-spacing: 40px;

$size-1: 4.25rem;
$size-2: 2.625rem;
$size-3: 1.625rem;
$size-4: 1.375rem;
$size-5: 1.125rem;
$size-6: 1rem;
$size-7: 0.75rem;
$title-family: "Open Sans", sans-serif;
$title-line-height: 1.125;
$family-sans-serif: "Roboto", sans-serif;
$body-size: 20px;
$body-line-height: 1.5;

$hue-shades: 175;
$hue-accent: 180;
$black: hsl($hue-shades, 60%, 5%);
$black-bis: hsl($hue-shades, 58%, 10%);
$black-ter: hsl($hue-shades, 56%, 15%);
$grey-darker: hsl($hue-shades, 54%, 20%);
$grey-dark: hsl($hue-shades, 52%, 25%);
$grey: hsl($hue-shades, 42%, 50%);
$grey-light: hsl($hue-shades, 42%, 60%);
$grey-lighter: hsl($hue-shades, 42%, 70%);
$grey-lightest: hsl($hue-shades, 42%, 80%);
$white-ter: hsl($hue-shades, 42%, 90%);
$white-bis: hsl($hue-shades, 42%, 92%);
$white: hsl($hue-shades, 42%, 94%);
$turquoise: hsl($hue-accent, 80%, 40%);
$blue: $turquoise;
$purple: $grey-dark;
$title-strong-color: $turquoise;
$title-strong-weight: inherit;

$radius-small: 2px;
$radius: 4px;
$radius-large: 20px;

$navbar-height: 4.25rem;

@import "bulma";
@import "layout-default";
@import "index";
