<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        (site name) | {{ page.title }}
    </title>
    <link rel="icon" type="image/x-icon"
          href="/assets/img/favicon.ico">
    <meta name="description"
          content="{{ page.description }}">

    <link rel="preconnect"
          href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap">
    <link rel="stylesheet"
          href="/assets/css/main.css">
</head>
<body>
{{ content }}
</body>
</html>