<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        (site name) | {{ page.title }}
    </title>
    <meta name="description"
          content="{{ page.description }}">

    <link rel="icon" type="image/x-icon"
          href="/assets/img/favicon.ico">
    <link rel="preconnect"
          href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap">
    <link rel="stylesheet"
          href="/assets/css/main.css">
</head>
<body>
<nav id="navbar" class="navbar"
     role="navigation" aria-label="main navigation">
    <div class="container">
        <div id="navbar__brand" class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="/assets/img/logo.png" alt="logo" width="112" height="28">
            </a>
            <a id="navbar__brand__burger" class="navbar-burger"
               role="button" aria-label="menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbar__menu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="#">Home</a>
            </div>
        </div>
    </div>
</nav>
{{ content }}
<footer id="footer" class="footer">
    <div class="container">
        footer - sitemap, info, legal
    </div>
</footer>
<script>
    const navbarBurger = document.getElementById('navbar__brand__burger')
    const navbarMenu = document.getElementById('navbar__menu')
    navbarBurger.addEventListener('click', () => {
        navbarBurger.classList.toggle('is-active')
        navbarMenu.classList.toggle('is-active')
    })
</script>
</body>
</html>